@media print {
    #social-tab {
        display: none;
    }
    .contact-tab {
        display: none;
    }
    .broker-contact-icons {
        display: none;
    }
    .broker-contact {
        display: none;
    }
}